
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminTheme/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/adminTheme/css/style.css" rel="stylesheet">

</head>

<body>

   <partial name="~/Views/Partials/Preloader.cshtml"/>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <partial name="~/Views/Partials/NavHeader.cshtml" />

        <partial name="~/Views/Partials/Header.cshtml" />

        <partial name="~/Views/Partials/Sidebar.cshtml" />
       
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <partial name="~/Views/Partials/Footer.cshtml" />

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/adminTheme/plugins/common/common.min.js"></script>
    <script src="~/adminTheme/js/custom.min.js"></script>
    <script src="~/adminTheme/js/settings.js"></script>
    <script src="~/adminTheme/js/gleek.js"></script>
    <script src="~/adminTheme/js/styleSwitcher.js"></script>

</body>

</html>
