@model HotelProject.WebUI.Dtos.GuestDto.UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Misafir Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="GuestID"></input>
    <label>Misafir Ad</label>
    <input type="text" asp-for=Name class="form-control"></input>
    <br />
    <label>Misafir Soyad</label>
    <input type="text" asp-for=SurName class="form-control"></input>
    <br />
    <label>Misafir Şehir</label>
    <input type="text" asp-for=City class="form-control"></input>
    <br />
    <button class="btn btn-outline-success">Misafiri Kaydet</button>
</form>


