@model HotelProject.WebUI.Models.Testimonial.AddTestimonialViewModel
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referans Ekleme Sayfası</h1>

<form method="post">
    <label>Referans Ad</label>
    <input type="text" asp-for=Name class="form-control"></input>
    <br />
    <label>Referans Ünvan</label>
    <input type="text" asp-for=Title class="form-control"></input>
    <br />
    <label>Referans Açıklaması</label>
    <input type="text" asp-for=Description class="form-control"></input>
    <br />
    <label>Referans Logo</label>
    <input type="text" asp-for=Image class="form-control"></input>
    <br />
    <button class="btn btn-outline-success">Referansı Kaydet</button>
</form>

