@model HotelProject.WebUI.Dtos.ServiceDto.UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hizmet Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="ServiceID"></input>
    <label>Hizmet Adı</label>
    <input type="text" asp-for=Title class="form-control"></input>
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Hizmet İconu</label>
    <input type="text" asp-for=ServiceIcon class="form-control"></input>
    <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    <br />
    <label>Hizmet Açıklaması</label>
    <input type="text" asp-for=Description class="form-control"></input>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-success">Hizmeti Kaydet</button>
</form>
